<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="environment">
			<bean
				class="org.springframework.web.context.support.StandardServletEnvironment" />
		</property>
	</bean>
	<!-- Default bean name is 'mongo' -->
	<mongo:db-factory id="mongoDbFactory" host="localhost"
		port="27017" dbname="testapp" username="" password="" />


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>


	<bean id="mongoRepositoryFactory"
		class="org.springframework.data.mongodb.repository.support.MongoRepositoryFactory">
		<!-- mongoTemplate comes from AbstractMongoConfiguration -->
		<constructor-arg ref="mongoTemplate" />
	</bean>

	<mongo:repositories base-package="com.queue.diamodo.dataaccess.dao"
		mongo-template-ref="mongoTemplate" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>message</value>
		</property>
	</bean>

	<mvc:interceptors>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				velocimacro.library=org/springframework/web/servlet/view/velocity/spring.vm,/templates/macro.vm
			</value>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/friendshipController/*" />
			<mvc:mapping path="conversationController/*" />
			<mvc:mapping path="diamodoProfileController/*" />

			<bean class="com.queue.diamodo.web.security.UserAuthenticationInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>